<div class="register">
  <h1>Register</h1>
  <form class="form">
    <div class="form__field register__field">
      <label for="email" class="form__label">Email</label>
      <input id="email" type="email" name="email" [(ngModel)]="registerUserData.email" class="form__input" required />
    </div>
    <div class="form__field register__field">
      <label for="password" class="form__label">Password</label>
      <input id="password" type="password" name="password" [(ngModel)]="registerUserData.password" class="form__input" required />
    </div>
    <button type="button" class="button" (click)="registerUser()">Register</button>
  </form>
</div>