<header class="menu">
  <a routerLink="/" class="menu__name">Jobdoor</a>
  <nav class="menu__nav">
    <!-- Logged Out -->
    <a routerLink="/register" class="menu__link" *ngIf="!authService.loggedIn()">Register</a>
    <a routerLink="/login" class="menu__link" *ngIf="!authService.loggedIn()">Login</a>

    <!-- Logged In -->
    <a routerLink="/post-job" class="menu__link" *ngIf="authService.loggedIn()">Post a Job</a>
    <a routerLink="/my-postings" class="menu__link" *ngIf="authService.loggedIn()">My Postings</a>
    <a routerLink="/login" class="menu__link" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
  </nav>
</header>