.submission {
  margin: auto;
  width: 50%;
  border-radius: 12px;
  background: white;
  padding: 4rem;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);

  &__field {
    margin: 1rem 0;
  }

  &__buttons {
    display: flex;
    margin-top: 2rem;
  }

  &__single-button {
    margin-right: 1rem;
  }

  &__right-button {
    margin-left: auto;
  }
}