<div class="submission">
  <h1>Post a Job</h1>
  <form class="form">
    <div class="form__field submission__field">
      <label for="position" class="form__label">Position</label>
      <input id="position" type="text" class="form__input" />
    </div>
    <div class="form__field submission__field">
      <label for="company" class="form__label">Company</label>
      <input id="company" type="text" class="form__input" />
    </div>
    <div class="form__field submission__field">
      <label for="location" class="form__label">Location</label>
      <input id="location" type="text" class="form__input" />
    </div>
    <div class="form__field submission__field">
      <label for="link" class="form__label">Link</label>
      <input id="link" type="text" class="form__input" />
    </div>
    <button class="button">Post</button>
  </form>
</div>