.pagination {
  margin-top: 2rem;
  text-align: center;

  &__button {
    margin: 0.25rem;
    height: 35px;
    width: 35px;
    border: 1px solid #f5f8fe;
    border-radius: 50%;
    background: #f5f8fe;
    font-weight: 700;
    color: #868c91;
    cursor: pointer;

    &--selected {
      background: #144fad;
      color: white;
    }
  }
}