<div class="single-posting">
  <div class="">
    <div class="single-posting__position">
      <a href="{{singlePosting.url}}" target="_blank" class="title">{{ singlePosting.position }}</a>
      <!-- Display on My Postings page instead of View Position button -->
      <a routerLink="/edit-job/{{singlePosting._id}}" class="button single-posting__edit" *ngIf="isEditable">
        Edit
      </a>

      <a href="{{singlePosting.url}}" target="_blank" class="view-position button button--secondary" *ngIf="!isEditable">View Position</a>
    </div>
    <div class="single-posting__info">
      <div class="company">
        <mat-icon aria-hidden="true" class="icon icon--small">location_city</mat-icon>
        {{ singlePosting.company }}
      </div>
      <div class="location">
        <mat-icon aria-hidden="true" class="icon icon--small">near_me</mat-icon>
        {{ singlePosting.location }}
      </div>
      <div class="date">
        <mat-icon aria-hidden="true" class="icon icon--small">today</mat-icon>
        {{ singlePosting.datePosted }}
      </div>
    </div>
  </div>
</div>