.single-posting {
  margin-bottom: 0.5rem;
  border-bottom:  1px solid #e1e4ea;
  padding: 2.5rem 0 3rem 0;

  &__position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__info {
    display: flex;
    font-weight: 500;
    color: #76767d;
  }

  &__edit {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.title {
  font-size: 1.5rem;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.view-position {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.company {
  flex-basis: 13%;

}

.location {
  flex-basis: 13%;
}

.date {
  margin-left: auto;
}

.editable {
  display: flex;
  align-items: flex-start;

  &__edit {
    margin-right: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  &__delete {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
}