@import '../../../variables.scss';

.single-posting {
  margin-bottom: 0.5rem;
  border-bottom:  1px solid #e1e4ea;
  padding: 2.5rem 0 3rem 0;

  &__position {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-weight: 500;
    color: #76767d;
  }

  &__edit {
    align-self: flex-start;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
@media(min-width: $smallBreakpoint) {
  .single-posting {
    &__position {
      justify-content: space-between;
      flex-direction: row;
    }

    &__edit {
      margin-top: 0;
    }
  }
}

.title {
  font-size: 1.5rem;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.view-position {
  display: none;
}
@media(min-width: $smallBreakpoint) {
  .view-position {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.company {
  flex-basis: 100%;
  margin: 0.25rem 0;
}
@media(min-width: $smallBreakpoint) {
  .company {
    flex-basis: 25%;
    margin: 0;
  }
}
@media(min-width: $mediumBreakpoint) {
  .company {
    flex-basis: 20%;
  }
}
@media(min-width: $largeBreakpoint) {
  .company {
    flex-basis: 15%;
  }
}

.location {
  flex-basis: 100%;
  margin: 0.25rem 0;
}
@media(min-width: $smallBreakpoint) {
  .location {
    flex-basis: 25%;
    margin: 0;
  }
}
@media(min-width: $mediumBreakpoint) {
  .location {
    flex-basis: 20%;
  }
}
@media(min-width: $largeBreakpoint) {
  .location {
    flex-basis: 15%;
  }
}

.date {
  flex-basis: 100%;
  margin: 0.25rem 0;
}
@media(min-width: $smallBreakpoint) {
  .date {
    flex-basis: auto;
    margin: 0 0 0 auto;
  }
}