<div class="search">
  <form class="search__form form" (ngSubmit)="onSubmit()">
    <div class="search__position">
      <label for="position" class="form__label">
        <mat-icon aria-hidden="true" class="icon">work</mat-icon>
        Position
      </label>
      <input id="position" type="text" name="position" [(ngModel)]="position" class="form__input search__position" />
    </div>
    <div class="search__location">
      <label for="location" class="form__label">
        <mat-icon aria-hidden="true" class="icon">near_me</mat-icon>
        Location
      </label>
      <input id="location" type="text" name="location" [(ngModel)]="location" class="form__input search__location" />
    </div>
    <button class="button search__button">Search</button>
  </form>
</div>
