@import '../../../variables.scss';

.search {
  position: relative;
  top: -3rem;
  border-radius: 12px;
  background: white;
  padding: 1.5rem;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__job {
    margin: 0.25rem 0;
  }

  &__location {
    margin: 0.25rem 0;
  }
}
@media(min-width: $mediumBreakpoint) {
  .search {
    &__form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__job {
      flex-basis: 40%;
      margin: 0;
    }

    &__location {
      flex-basis: 40%;
      margin: 0;
    }

    &__button {
      align-self: flex-end;
    }
  }
}