<div class="search">
  <form class="search__form form">
    <div class="form__field search__job">
      <label for="job" class="form__label">Job</label>
      <input id="job" type="text" class="form__input search__job" />
    </div>
    <div class="form__field search__location">
      <label for="location" class="form__label">Location</label>
      <input id="location" type="text" class="form__input search__location" />
    </div>
    <button class="button search__button">Search</button>
  </form>
</div>
