
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$job-board-primary: mat-palette($mat-indigo);
$job-board-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$job-board-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$job-board-theme: mat-light-theme($job-board-primary, $job-board-accent, $job-board-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($job-board-theme);
html, body { height: 100%; }

$primaryColor: #367bff;
$bodyColor: #484848;
$warningColor: #e01d1d;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $bodyColor;
}

main {
  margin: 2rem 3rem;
}

a {
  color: #1f2c5a;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.banner {
  border-radius: 12px;
  background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
  text-align: center;
  padding: 4rem 0 8rem 0;

  &__title {
    margin-bottom: 0;
    font-size: 4rem;
    color: white;
  }

  &__subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
  }
}

.board {
  width: 65%;
  margin: auto;
}

.button {
  border: none;
  border-radius: 8px;
  border: 2px solid $primaryColor;
  background: $primaryColor;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid darken($primaryColor, 20%);
    background-color: darken($primaryColor, 20%);
  }

  &--secondary {
    border: 2px solid $primaryColor;
    background: transparent;
    color: $primaryColor;

    &:hover,
    &:focus {
      border: 2px solid $primaryColor;
      background: $primaryColor;
      color: white;
    }
  }

  &--warning {
    border: 2px solid $warningColor;
    background: $warningColor;

    &:hover,
    &:focus {
      border: 2px solid darken($warningColor, 10%);
      background: darken($warningColor, 10%);
    }
  }
}

.form {
  &__field {
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 500;
    color: #76767d;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e1e4ea;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
  }
}
