
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$job-board-primary: mat-palette($mat-indigo);
$job-board-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$job-board-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$job-board-theme: mat-light-theme($job-board-primary, $job-board-accent, $job-board-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($job-board-theme);
html, body { 
  height: 100%;
  margin: 0;
}


//===== Jobdoor Styling =====
@import 'variables.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $bodyColor;
}

main {
  margin: 2rem 0;
}
@media(min-width: $smallBreakpoint) {
  main {
    margin: 2rem 3rem;
  }
}

a {
  color: #1f2c5a;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.board {
  width: 95%;
  margin: auto;
}
@media(min-width: $smallBreakpoint) {
  .board {
    width: 90%;
  }
}
@media(min-width: $mediumBreakpoint) {
  .board {
    width: 80%;
  }
}
@media(min-width: $largeBreakpoint) {
  .board {
    width: 65%;
  }
}

.button {
  border: none;
  border-radius: 8px;
  border: 2px solid $primaryColor;
  background: $primaryColor;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid darken($primaryColor, 20%);
    background-color: darken($primaryColor, 20%);
  }

  &--secondary {
    border: 2px solid $primaryColor;
    background: transparent;
    color: $primaryColor;

    &:hover,
    &:focus {
      border: 2px solid $primaryColor;
      background: $primaryColor;
      color: white;
    }
  }

  &--warning {
    border: 2px solid $warningColor;
    background: $warningColor;

    &:hover,
    &:focus {
      border: 2px solid darken($warningColor, 10%);
      background: darken($warningColor, 10%);
    }
  }
}

.form {
  &__field {
    margin: 2rem 0;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #76767d;
    font-weight: 500;
    font-size: 1.125rem;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e1e4ea;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
  }

  &__warning {
    color: red;
  }
}

.card {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  border-radius: 12px;
  background: white;
  padding: 4rem;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__single-button {
    margin: 0.25rem 0;
  }

  &__right-button {
    margin: 0.25rem 0;
  }
}
@media(min-width: $smallBreakpoint) {
  .card {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 90%;

    &__buttons {
      flex-direction: row;
    }

    &__single-button {
      margin: 0 1rem 0 0;
    }

    &__right-button {
      margin: 0 0 0 auto;
    }
  }
}
@media(min-width: $mediumBreakpoint) {
  .card {
    width: 50%;
  }    
}


.icon {
  vertical-align: bottom;
  color: #9dabbb;

  &--small {
    // Override Material Design's default
    height: 20px !important;
    width: 20px !important;
    font-size: 20px;
  }
}

// Override Material Design's default dialog
.dialog .mat-dialog-container{
  border-radius: 12px;
  padding: 3rem;

  .mat-dialog-title {
    margin-bottom: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
    font-size: 2rem;
    font-weight: bold;
  }

  .mat-dialog-content {
    font-size: 1.125rem;
  }

  .mat-dialog-actions {
    margin-top: 1rem;
    justify-content: space-around;
  }

  .button {
    padding: 0.5rem 1rem;
  }
}